@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500;700;900&display=swap');
@import "./wp.css";

@tailwind base;

body {
  @apply font-body bg-gray-900 text-green-100 font-light;
}

@tailwind components;
@tailwind utilities;


a {
  @apply text-green-400;

  &:hover {
    @apply underline;
  }
}

header.main-nav {
  a:hover {
    @apply no-underline;
  }
}


.button-link {
  @apply border border-green-400 p-3 rounded inline-block transition-colors duration-200 font-bold no-underline;

  a {
    @apply text-gray-900;
  }
  &:hover {
    @apply bg-green-400;
  }
}

.blog-post {
  @media screen and (max-width: 639px) {
    .wp-block-image {
      figure {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

  img {
    @apply rounded-md shadow-md border border-gray-700;
  }

  p,
  pre {
    @apply mb-4;
  }
  ul {
    @apply list-disc list-inside text-green-200;
  }
  h1,h2,h3 {
    @apply font-bold text-green-400;
  }
  h1,h2 {
    @apply pt-6 pb-4;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg text-green-300 pb-2;
  }
  figcaption {
    @apply text-sm text-center mb-8;
  }
  .wp-block-quote {
    @apply text-2xl font-thin border-l-4 border-green-600 pl-6 my-8;
  }
  p>code {
    @apply bg-gray-700 p-1 rounded-md px-2;
  }
  pre {
    @apply mb-6 !important;
  }
}
  .blog-content {
}
